
 <template>
  <main class="app-content">
    <b-row>
      <b-col lg="12">
        <b-card no-body class="card_panel">
          <b-card-header><h5 class="h5_title">App</h5></b-card-header>
          <b-card-body>
            <b-form class="frm_cst">
              <b-row>
                <b-col lg="6">
                  <b-form-group>
                    <label class="label_mod">Name</label>
                    <b-form-input class="cst_input"></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col lg="6">
                  <b-form-group>
                    <label class="label_mod">Email</label>
                    <b-form-input class="cst_input"></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col lg="6">
                  <b-form-group>
                    <label class="label_mod">Subject</label>
                    <b-form-input class="cst_input"></b-form-input>
                  </b-form-group>
                </b-col>
                <b-col lg="6">
                  <b-form-group class="select2_mod">
                    <label class="label_mod">Category</label>
                    <multiselect
                      v-model="value"
                      :options="options"
                    ></multiselect>
                  </b-form-group>
                </b-col>
                <b-col lg="12">
                  <b-form-group>
                    <label class="label_mod">Message</label>
                    <b-form-textarea
                      rows="4"
                      class="cst_input"
                    ></b-form-textarea>
                  </b-form-group>
                </b-col>
                <b-col lg="6">
                  <b-form-group>
                    <label class="label_mod">Points Rewarded</label>
                    <div class="input-group input_grup_right">
                      <b-form-input
                        type="number"
                        min="0"
                        class="form-control cst_input"
                      ></b-form-input>
                      <div class="input-group-prepend">
                        <div class="input-group-text">Points</div>
                      </div>
                    </div>
                  </b-form-group>
                </b-col>

                <b-col lg="6">
                  <b-form-group>
                    <label class="label_mod">Points Rewarded</label>
                    <div class="input-group input_grup_left">
                      <div class="input-group-prepend">
                        <div class="input-group-text">$</div>
                      </div>
                      <b-form-input
                        type="number"
                        min="0"
                        class="form-control cst_input"
                      ></b-form-input>
                    </div>
                  </b-form-group>
                </b-col>
                <b-col lg="6">
                  <b-form-group class="uploads__img">
                    <label class="label_mod">Uploads Images</label>
                        <b-form-file class="cst_input" id="form-image" :disabled="busy" accept="image/*"></b-form-file>
                  </b-form-group>
                </b-col>
                <b-col lg="6"></b-col>
                <b-col lg="3">
                  <b-form-group>
                    <label class="label_mod">Status</label>
                    <div class="radio_cst">
                      <span class="label_mod">Active</span>
                      <input
                        type="radio"
                        name="status"
                        checked="checked"
                        value="1"
                      />
                      <span class="radio_checkmark"></span>
                    </div>
                    <div class="radio_cst">
                      <span class="label_mod">Deactive</span>
                      <input type="radio" name="status" value="0" />
                      <span class="radio_checkmark"></span>
                    </div>
                  </b-form-group>
                  <b-form-group>
                    <label class="checkbox_cst"
                      ><span class="label_mod"
                        >Set a minimum shipping amount this reward can be
                        applied to</span
                      >
                      <input type="checkbox" true-value="1" false-value="0" />
                      <span class="checkbox_checkmark"></span
                    ></label>
                  </b-form-group>
                  <b-form-group>
                    <div class="cst_switch_btn">
                      <span class="inte_label">No</span>
                      <input
                        type="checkbox"
                        hidden="hidden"
                        id="sameCollection"
                      />
                      <label for="sameCollection" class="switch"></label>
                      <span class="inte_label">Yes</span>
                    </div>
                  </b-form-group>
                </b-col>
                <div class="btn__cst text-center">
                  <button class="primary_btn">Submit</button>
                </div>
              </b-row>
            </b-form>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
  </main>
</template>

<script>
export default {
  data() {
    return {
      value: null,
      options: ["list", "of", "options"],
    };
  },
};
</script>  

 