<template>
    <section class="Setup_cost">
      <div class="row">
        <div class="col-sm-12">
          <div class="wait_wrapper">
               <p v-if="requesting">Please Wait...</p>
               <div class="error-container" v-if="!requesting">
                   <p class="first">HTTP/1.1 403 Forbidden</p>
                   <p class="next">We are getting error to load your app dashboard</p>
                   <p class="next">Reload your app/login bigcommerce dashboard</p>
               </div>
          </div>
        </div>
      </div>
    </section>
</template> 
<script>
import config from '../../../../config'; 
export default {
    name : 'loginc',
    data() {
        return {
            requesting : true  // true =>
        }
    },
    methods : {
        verifyShop(store_user){ 
            this.requesting = true;
            this.clearLocalStorage(); 
            this.$store.dispatch("login", {store_user:store_user})
            .then((res) => { 
                if ( (typeof(res.status)!='undefined') && (res.status == true) ) { 
                    this.$toastr.s('You have been logged in successfully', "LOGIN SUCCESS"); 
                    localStorage.setItem(config.NAME_PREFIX+'token',res.token);
                    localStorage.setItem(config.NAME_PREFIX+'storeUser',res.storeUser);
                    localStorage.setItem(config.NAME_PREFIX+'plan', JSON.stringify(res.plan));
                    localStorage.setItem(config.NAME_PREFIX+'user',JSON.stringify(res.user));                    
                    setTimeout( () => {
                        window.location.href = config.BASE_URL+'dashboard';
                    },500); 
                } else { 
                    this.$toastr.e(res.message, "LOGIN ERROR");  
                    this.requesting = false;
                    this.clearLocalStorage();                  
                }
            })
            .catch((e) => {  
                this.clearLocalStorage();
                this.requesting = false;
                console.log(e);
            });             
        },
        clearLocalStorage(){ 
            localStorage.removeItem(config.NAME_PREFIX+'token');
            localStorage.removeItem(config.NAME_PREFIX+'storeUser');
            localStorage.removeItem(config.NAME_PREFIX+'plan');
            localStorage.removeItem(config.NAME_PREFIX+'user'); 
        } 
    },
    created(){  
        let store_user = parseInt(this.$route.query.store_user); 
        if (isNaN(store_user) == true) { 
            let isUser = !!localStorage.getItem(config.NAME_PREFIX+"storeUser");
            if (isUser == true) {
                store_user = parseInt(localStorage.getItem(config.NAME_PREFIX+"storeUser"));
                this.verifyShop(store_user);
            } else {
                this.clearLocalStorage();
                this.requesting = false;
                return false;
            }            
        } else {
            this.verifyShop(store_user); 
        } 
    }
}
</script>

<style>
    .error-container .first {
        font-size: 22px;
        margin-bottom: 17px;
    } 
    .error-container .next { 
        margin-bottom: 5px;
    } 
</style>