
 <template>
  <main class="app-content">
    <b-row>
      <b-col lg="12">
        <b-card no-body class="card_panel">
          <b-card-header><h5 class="h5_title">App</h5></b-card-header>
          <b-card-body>
            <div class="table-responsive tbl_cst">
              <table class="table">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="product_info">
                        <div class="product_mnl_img">
                          <img
                            src="https://cdn.shopify.com/s/files/1/0506/1840/0924/products/steve-johnson-TnjzgonRFPU-unsplash.jpg?v=1605771094"
                            alt="product"
                            class=""
                          />
                        </div>
                        <div class="product_mnl_text">
                          <h6 class="h6_title">
                            Analog 18.36 cm X 36.83 cm Wall Clock
                          </h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="tbl_btn">
                        <b-link
                          href="#"
                          class="primary_btn btn-sm"
                          v-b-tooltip.hover
                          title="Info"
                        >
                          <i aria-hidden="true" class="fa fa-info"></i>
                        </b-link>
                        <b-link
                          href="#"
                          class="trash_btn btn-sm m_lr"
                          v-b-tooltip.hover
                          title="Delete"
                        >
                          <i aria-hidden="true" class="fa fa-trash"></i>
                        </b-link>
                        <b-link
                          href="#"
                          class="primary_btn btn-sm"
                          v-b-tooltip.hover
                          title="View"
                        >
                          <i aria-hidden="true" class="fa fa-eye"></i>
                        </b-link>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="product_info">
                        <div class="product_mnl_img">
                          <img
                            src="https://cdn.shopify.com/s/files/1/0506/1840/0924/products/steve-johnson-TnjzgonRFPU-unsplash.jpg?v=1605771094"
                            alt="product"
                            class=""
                          />
                        </div>
                        <div class="product_mnl_text">
                          <h6 class="h6_title">
                            Analog 18.36 cm X 36.83 cm Wall Clock
                          </h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="tbl_btn">
                        <b-link
                          href="#"
                          class="primary_btn btn-sm"
                          v-b-tooltip.hover
                          title="Info"
                        >
                          <i aria-hidden="true" class="fa fa-info"></i>
                        </b-link>
                        <b-link
                          href="#"
                          class="trash_btn btn-sm m_lr"
                          v-b-tooltip.hover
                          title="Delete"
                        >
                          <i aria-hidden="true" class="fa fa-trash"></i>
                        </b-link>
                        <b-link
                          href="#"
                          class="primary_btn btn-sm"
                          v-b-tooltip.hover
                          title="View"
                        >
                          <i aria-hidden="true" class="fa fa-eye"></i>
                        </b-link>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </b-card-body>
        </b-card>
      </b-col>
      <b-col lg="12">
        <b-card no-body class="card_panel">
          <b-card-header><h5 class="h5_title">App</h5></b-card-header>
          <b-card-body>
            <div class="table-responsive tbl_cst">
              <table class="table">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="media ways_mdia wys_user">
                        <div class="ways_circle mr-3">
                          <span class="wys_user_text">KG</span>
                        </div>
                        <div class="media-body">
                          <h6>
                            <a
                              href="/bigcommerce/earnloyaltyrewards-bigc/customers-view/28"
                              class="text-capitalize action_link"
                              >Kendal Gay</a
                            >
                          </h6>
                          <span class="email_text">Kendal1122@gmail.com</span>
                        </div>
                      </div>
                    </td>
                    <td>Member</td>
                    <td>
                      <div class="tbl_btn">
                        <b-link
                          href="#"
                          class="primary_btn btn-sm"
                          v-b-tooltip.hover
                          title="Info"
                        >
                          <i aria-hidden="true" class="fa fa-info"></i>
                        </b-link>
                        <b-link
                          href="#"
                          class="trash_btn btn-sm m_lr"
                          v-b-tooltip.hover
                          title="Delete"
                        >
                          <i aria-hidden="true" class="fa fa-trash"></i>
                        </b-link>
                        <b-link
                          href="#"
                          class="primary_btn btn-sm"
                          v-b-tooltip.hover
                          title="View"
                        >
                          <i aria-hidden="true" class="fa fa-eye"></i>
                        </b-link>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
  </main>
</template>
 
 