<template>
   <div id="single-page-layout">
       <slot />
   </div>
</template>
<script>
import config from '../../../config';
export default {
    name : 'single-page-layout',
    components:{ 
    },
    data() {
        return {

        }
    } 
}
</script>

<style>

</style>