<template>
  <div id="noauth-layout">
      <header-view></header-view>
      <sidebar-view></sidebar-view>
         <slot /> 
      <footer-view></footer-view>
  </div>
</template>

<script>
import config from '../../../config';

import Header from '../shared/Header';
import Footer from '../shared/Footer';
import Sidebar from '../shared/SidebarSteps';

export default {
    name:'noauth-layout',
    components:{
        'header-view' : Header,
        'sidebar-view' : Sidebar,
        'footer-view' : Footer
    },
    data() {
        return {

        }
    }
}
</script>

<style>

</style>