<template>
  <main class="app-content">
    <section class="pay_item">
      <div class="row">
        <div class="pay__wrap">
          <div class="card card_panel">
            <div class="card-header card__header">
              <h5 class="h5_title">Payment Details</h5>
            </div>
            <div class="card-body">
              <div class="credit_img">
                <h3>Credit Card (Stripe)</h3>
                <ul class="list-inline">
                  <li>
                    <b-link href="javascript:void(0);">
                      <b-img src="app/images/icons/p1.png" alt="img"></b-img
                    ></b-link>
                  </li>
                  <li>
                    <b-link href="javascript:void(0);">
                      <b-img src="app/images/icons/p2.png" alt="img"></b-img
                    ></b-link>
                  </li>
                  <li>
                    <b-link href="javascript:void(0);"
                      ><b-img src="app/images/icons/p3.png" alt="img"></b-img
                    ></b-link>
                  </li>
                  <li>
                    <b-link href="javascript:void(0);"
                      ><b-img src="app/images/icons/p4.png" alt="img"> </b-img
                    ></b-link>
                  </li>
                  <li>
                    <b-link href="javascript:void(0);"
                      ><b-img src="app/images/icons/p5.png" alt="img"></b-img>
                    </b-link>
                  </li>
                </ul>
              </div>
              <div class="pay_info">
                Pay with your credit card via Stripe. TEST MODE ENABLED. In test
                mode, you can use the card number 4242424242424242 with any CVC
                and a valid expiration date or check the
                <b-link href="https://stripe.com/docs/testing" target="_blank"
                  >Testing Stripe Documentation</b-link>
                for more card numbers.
              </div>
              <div>
                <form id="payment-form">
                  <stripe-elements
                    ref="elementsRef"
                    :pk="publishableKey"
                    :amount="amount"
                    locale="en"
                    @token="tokenCreated"
                    @loading="loading = $event"
                  >
                  </stripe-elements>
                </form>
              </div>
              <div class="pay_info">
                Your personal data will be used to process your order, support
                your experience throughout this website, and for other purposes
                described in our
                <b-link href="/privacy-policy" target="_blank">Privacy Policy</b-link>.
              </div>
              <div class="payment_btn text-center">
                <button
                  v-if="!isLoader"
                  @click="submit"
                  class="primary_btn btn_mod"
                >
                  Pay Now
                </button>
                <button
                  v-if="isLoader"
                  class="btn primary_btn tf-loader-btn"
                  disabled
                >
                  <div
                    class="spinner-border spinner-border-sm btn-spinner"
                    role="status"
                  >
                    <span class="sr-only">Making your payment...</span>
                  </div>
                </button>
                <router-link to="/plans" class="primary_btn btn_mod"
                  >Back to plans</router-link>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>
<script>
import config from "../../../../config";
import { StripeElements } from "vue-stripe-checkout";
export default {
  name: "plan-payment",
  components: {
    StripeElements,
  },
  data() {
    return {
      planData: {},

      amount: 10,
      loading: false,
      isLoader: false,
      publishableKey: config.STRIPE_PK,
      subscription: {},
    };
  },
  methods: {
    submit() {
      this.$refs.elementsRef.submit();
    },
    tokenCreated(token) {
      this.token = token;
      this.subscription = {
        stripe_token: token.id,
        plan_id: this.planData.plan_id,
      };
      this.isLoader = true;
      this.$store
        .dispatch("subscriptionCreate", this.subscription)
        .then((result) => {
          this.isLoader = false;
          if (typeof result.status != "undefined" && result.status == true) {
            this.$toastr.s(result.message, "Success");
            localStorage.setItem(
              config.NAME_PREFIX + "plan",
              JSON.stringify(result.subscription)
            );
            this.$router.push("/welcome");
          } else if (
            typeof result.status != "undefined" &&
            result.status == false
          ) {
            this.$toastr.e(result.message, "Error");
          }
        })
        .catch((error) => {
          this.isLoader = false;
          console.log(error);
        });
    },
    getPlanDetail(plan_id) {
      this.$store
        .dispatch("getSubscriptionPlan", { id: plan_id })
        .then((res) => {
          if (typeof res.status != "undefined" && res.status == true) {
            this.planData = res.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
  created() {
    let isSp = !!localStorage.getItem(config.NAME_PREFIX + "sp");
    if (isSp == true) {
      var ID = parseInt(localStorage.getItem(config.NAME_PREFIX + "sp"));
      this.getPlanDetail(ID);
    } else {
      this.$router.push("/plans");
    }
  },
};
</script>

<style>
</style>