<template>
  <main class="app-content">
    <section class="subplans_mod">
      <div class="plan_row">
        <div class="col-lg-12">
          <div class="sub_plans text-center">
            <h3 class="h3_title">Subscription Plans</h3>
          </div>
        </div>
        <div class="plan_col">
          <div class="card subplan_item">
            <div class="subplan_header">
              <div class="subplan_img">
                <b-img
                  src="app/images/icons/subscription_icn.svg"
                  alt="Subscription Plans"
                ></b-img>
              </div>
            </div>
            <div class="subplan_title">
              <h5 class="h5_title">$ 10 /Month</h5>
              <p>
                Recurring charges, including monthly or usage-based charges, are
                billed every 30 days.
              </p>
            </div>
            <div class="subplan_price">
              <div class="subplan_doller"><sup>$</sup> 10</div>
            </div>
            <div>
              <ul>
                <li>Save Unlimited Items in the Loyalty Reward</li>
                <li>Share Loyalty Reward via Email</li>
                <li>Detailed Loyalty Reward and products Reports</li>
                <li>Send unlimited Reminder Emails</li>
                <li>Get Revenue Report</li>
              </ul>
            </div>
            <div
              class="btn_subPlan"
              v-for="(plan, key) in plansList"
              :key="key"
            >
              <b-link
                @click.prevent="selectPlan(plan)"
                href="javascript:void(0);"
                class="primary_btn btn_mod"
                >{{ plan.plan_name }}</b-link
              >
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import config from "../../../../config";
export default {
  name: "plans-list",
  data() {
    return {
      plansList: [],
    };
  },
  methods: {
    selectPlan(planObj) {
      this.$router.push("/payment-process");
      localStorage.setItem(config.NAME_PREFIX + "sp", planObj.id);
    },
    getPlans() {
      this.$store
        .dispatch("getSubscriptionPlans")
        .then((res) => {
          if (typeof res.status != "undefined" && res.status == true) {
            this.plansList = res.data;
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
  created() {
    this.getPlans();
  },
};
</script>

<style>
</style>