.dark-themes {
	--card-border: #28343a;
	--color-primary:#127CE5;
	--rgb-secondary: rgba(0,0,0,0.2);
	--color-secondary: #131517;
	--color-text: #96a2b4;
	--success-color: #1EB05E;
	--switch-gray: #676978;
	--color-danger: #d9534f;
	--danger-hover: #c9302c;
	--color-focus: #38597b;	
	--color-input: #495057;
	--color-body: #1e2022;
	--color-white: #fff;
	--color-white100: #eee;	
}

.dark-themes {
  background-color : var(--color-body);
  color: var(--color-text) !important;
} 
 




