.help_hero .container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto  ;
} 
.help_hero .brand img {
    margin: 20px auto;
    display: block;
}
.help_hero .card-wrapper .card__panel   {
    background-color: #131517;
    border: 1px solid #28343a;
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
} 
.help_hero .card-wrapper .card__panel .card-body {
    padding: 30px;
}  
.card-wrapper {
    width: 100%;
    padding: 0 15px;
}  
/* footer hero */
.footer_hero {
    margin: 60px 0 15px;
    text-align: center;
}
.footer_hero .list-inline li  {
  display: inline-block;
  margin: 0 5px;
}
.footer_hero .not_authftr {
    margin-top: 4px;
}  
/* // footer hero */
/* Faq page*/
.rp_accord_main_wrapper{
	text-align:center;
}
.rp_accord_box_wrapper{
	width: 100%;
    text-align: left;
	display:inline-block;
	border-radius: 5px; 
   -moz-border-radius:5px;
   -khtml-border-radius:5px;
}
.rp_accord_box_wrapper h4{
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}
.rp_accord_box_wrapper .accordion__link{
	background: #1e2022;
    padding: 15px;
    color: #fff;
    font-weight: 400;
    font-size: 14px;
	cursor:pointer;
	position:relative;
	border:1px solid #616161;
	border-top:0;
}
.rp_accord_box_wrapper .accordion__item:first-child .accordion__link{
	border-top:1px solid #616161;
}
.rp_accord_box_wrapper .accordion__submenu{
	border:1px solid #616161;
	border-top:0;
}
.rp_accord_box_wrapper .accordion__link:after{
	font-family: "FontAwesome";
    font-weight: 900;
    content: "\f106";
    position: absolute;
    font-size: 16px;
	top: 15px;
    right: 15px;
    color: var(--color-white);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    transform: rotate(-180deg);
}
.rp_accord_box_wrapper .is-open .accordion__link:after{
	top: 11px;
	 -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    transform: rotate(0deg);
}
.rp_accord_box_wrapper .accordion__submenu-item{
	padding: 15px;
}
.faq_box {
    width: 100%;
    max-width: 740px;
    margin: 0 auto;
}
/* // Faq page*/
/* Privacy Block */
p {
    line-height: 26px;
}
.privacy_block {
    margin-top: 20px;
}
.privacy_block p {
    margin: 15px 0;
    font-weight: 300;
    line-height: 26px;
}
.privacy_h1, .privacy_h2, .privacy_h3, .privacy_h4, .privacy_h5, .privacy_h6 {
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
}
.contnet__ele .card-title {
    color: #fff;
}
.privacy_list {
    margin-bottom: 15px;    
  }
.privacy_list ul {
    list-style: disc;
    padding-left: 15px;
}
/* // Privacy Block */
.ftr__link {
    
}