@import url('color-themes.css');
@import url('reset-custom.css');
@import url('sidebar.css');
@import url('dev-custom.css');


.dark-themes .card_panel {
  background-color: var(--rgb-secondary);
  border-color: var(--card-border);
  border-radius: 10px;
  margin-bottom: 20px;
}
.dark-themes .card_panel .card-header {
  border-color: var(--card-border);
}

/* Table page */
.tbl_cst {
  white-space: nowrap;
}
.product_info {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
}
.product_mnl_img {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 15px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.product_mnl_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tbl_cst table thead {
  color: var(--color-text);
  background-color: var(--color-secondary);
}
.tbl_cst table thead tr th {
  border-bottom: none;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 14px;
  border-bottom: 1px solid var(--card-border);
  border-top: none;
  color: var(--color-white);
  border-right: none;
  border-left: none;
}
.tbl_cst table tbody tr td {
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  font-size: 14px;
  color: var(--color-text);
}
.tbl_cst table tbody tr:nth-child(even) {
  background-color: var(--rgb-secondary);
} 
.tbl_cst .h6_title {
  margin-bottom: 0;
} 
.btn__cst {
  width: 100%;
  margin-top: 20px;
} 
.ways_circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background-color: var(--color-white100); 
  color: var(--color-secondary);
  font-weight: 500;
}
.ways_mdia h6 {
  margin-bottom: 5px;
  font-size: 15px;
  font-weight: 400;
}
/** // Table page **/
/** Plan Page**/
.plan_row {
  text-align: center;
}
.sub_plans {
  margin-bottom: 35px;
}
.plan_col {
  width: 32.333%;
  display: inline-block;
  padding: 0 15px;
}
.subplans_mod .subplan_item {
  border-radius: 15px;
  padding-bottom: 35px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  overflow: hidden;
  position: relative;
  text-align: center;
  border: none;
  margin-bottom: 25px;
  border: 1px solid var(--card-border);
  background-color: transparent;
}
.subplan_header {
  padding: 40px 0px 50px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border-bottom: 1px solid var(--card-border);
  margin: 0 -25px;
}
.subplan_img {
  width: 100px;
  height: 100px;
  background-color: var(--color-white);
  display: inline-block;
  line-height: 97px;
  border-radius: 100%;
  box-shadow: rgba(4, 4, 4, 0.1) 0px 0px 10px 0px;
}
.subplan_img img {
  width: 50px;
}
.subplan_title {
  margin-bottom: 25px;
  padding: 20px;
}
.subplan_title h5 {
  font-size: 22px;
  padding-bottom: 7px;
  position: relative;
  display: inline-block;
  padding-top: 35px;
}
.subplan_price {
  width: 100%;
  display: inline-block;
  margin-bottom: 30px;
  position: relative;
}
.subplan_price:before, .subplan_price:after {
  width: 50%;
  height: 2px;
  content: "";
  position: absolute;
  top: 50%;
  z-index: 0;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.subplan_price:before {
  background-image: -webkit-linear-gradient(right, #127CE5, #127CE5,#131517);
  background-image: -moz-linear-gradient(right, #127CE5, #127CE5,#131517);
  background-image: -ms-linear-gradient(right, #127CE5, #127CE5,#131517);
  background-image: -o-linear-gradient(right, #127CE5, #127CE5, #131517);
  left: 8px;
}
.subplan_price:after {
  background-image: -webkit-linear-gradient(left, #127CE5, #127CE5, #131517);
  background-image: -moz-linear-gradient(left, #127CE5, #127CE5, #131517);
  background-image: -ms-linear-gradient(left, #127CE5, #127CE5, #131517);
  background-image: -o-linear-gradient(left, #127CE5, #127CE5, #131517);
  right: 8px;
}
.subplan_price .subplan_doller {
  width: 90px;
  height: 90px;
  display: inline-block;
  border: 2px solid var(--color-secondary);
  line-height: 90px;
  font-size: 30px;
  border-radius: 100%;
  font-weight: 600;
  color: var(--color-secondary);
  position: relative;
  background-color: var(--color-white);
  z-index: 1;
}
.subplan_price .subplan_doller sup {
  font-size: 25px;
  left: 5px;
  top: -3px;
}
.subplan_item ul li {
  color: var(--color-text);
  font-weight: 400;
  font-size: 17px;
  border-bottom: 1px solid var(--card-border);
  padding: 12px 10px;
}
.btn_subPlan {
  transition: all 0.7s ease-in-out 0s;
  margin-top: 20px;
  -webkit-transition: all 0.7s ease-in-out 0s;
  -moz-transition: all 0.7s ease-in-out 0s;
  -ms-transition: all 0.7s ease-in-out 0s;
  -o-transition: all 0.7s ease-in-out 0s;
}
/** // Plan Page**/
/** payment page **/
.pay__wrap {
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
  padding: 0 15px;
}
.credit_img {
  text-align: center;
  margin-bottom: 25px;
}
.pay_item h3 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
  letter-spacing: 1.5px;
  margin-bottom: 20px;
}
.credit_img ul li {
  display: inline-block;
}
.pay_info {
  margin-bottom: 15px;
  text-align: center;
}
.payment_btn .btn_mod {
  min-height: 35px;
  display: inline-block;
  margin: 0 5px;
  min-width: 100px;
}
/** // payment page **/
/** Profile page**/
.rp_profile_cont_main {
  width: 100%;
  display: inline-block;
}
.rp_profile_name_circle {
  float: left;
  width: 100px;
  margin-right: 30px;
}
.rp_profile_name_circle p {
  display: inline-block;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: var(--color-white);
  background: var(--color-primary);
  border-radius: 100%;
  font-size: 40px;
  font-weight: 400;
  text-transform: uppercase;
}
.rp_profile_ele {
  float: right;
  width: calc(100% - 130px);
}
.rp_profile_cont {
  border-bottom: 1px solid var(--card-border);
  padding: 10px 0px;
}
.rp_profile_cont label {
  font-size: 14px;
  margin-bottom: 2px;
  color: var(--color-text);
  font-weight: 500;
}
.rp_profile_cont p {
  font-size: 14px;
  color: var(--color-white);
  margin-bottom: 0;
}
/** Profile page**/
.ftr__link {
  margin-bottom: 3px;
}
.ftr__link li {
 display: inline-block;
 margin: 0 5px;
}






@media (max-width: 1400px) {
  .plan_col {
    width: 49%;
  }
}
@media (max-width: 1199px) {
  .plan_col {
    width: 100%;
  }
}
@media (max-width: 575px) {
.rp_profile_name_circle {
  float: left;
  width: 100%;
  margin-right: 0;
  text-align: center;
 }
 .rp_profile_ele {
   width: 100%;
 }

}
@media (max-width: 360px) {
.payment_btn .btn_mod {
    display: block;
    margin: 10px 0;
    width: 100%;
 }
}