@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body{
	font-family: 'Roboto', sans-serif !important; 
	letter-spacing: 0.5px;
	color: var(--body-color) !important;
	font-size: 14px !important;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}
html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p, table {
	margin: 0;
}
ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}
a, a:hover, a:focus, button {
	text-decoration: none;
	outline: none;
	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;	 
}

.action_link {
  color: var(--color-primary);
}
.action_link:hover {
 color: var(--color-primary);
 text-decoration: none !important;	
 opacity: 0.8;
}
input:focus, button:focus {
	outline: none !important;
}
.label_mod {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 5px;
}
.label_mod sub {
	vertical-align: text-top;
	color: #fc172c;
	font-size: 14px;
	font-weight: 500;
}
.h4_title {
	font-weight: 500;
    color: var(--color-text);
	font-size: 20px;
	line-height: 28px;
	margin:0;	
}
.h3_title {
	font-weight: 500;
    color: var(--color-text);
	font-size: 22px;
	line-height: 30px;
	margin:0;	
}
.h5_title {
	font-weight: 500;
    color: var(--color-text);
	font-size: 17px;
	line-height: 25px;
	margin:0;
} 
.primary_btn, .primary_btn a {
	font-size: 14px;
	line-height: 20px;
	border-radius: 4px;
	color: var(--color-white);
	padding: 8px 20px;
	text-transform: capitalize;
	border: solid 1px var(--color-primary);
	background-color: var(--color-primary);
	letter-spacing: 0.5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
}
.primary_btn:hover, .primary_btn:focus, .primary_btn a:hover, .primary_btn a:focus {
	border: solid 1px var(--color-primary);
	background-color: var(--color-primary);
	color: var(--color-white);
	opacity: 0.8;
}
  .frm_cst .cst_input, .frm_cst .custom-file-label  {
	font-size: 14px;
    height: 46px;
	letter-spacing: 0.5px;
	color: var(--color-text);
	background-color: transparent;
	border-color: var(--color-input);
	cursor: pointer;
   }
  .frm_cst .cst_input:focus, .frm_cst .custom-file-input:focus ~ .custom-file-label {
	  border-color: var(--color-input);
	  -webkit-box-shadow: none;
	  box-shadow: none;
	  background-color: transparent;
	  color: var(--color-white);
  }
  .frm_cst .custom-file-label::after {
    height: calc(2.3em + 0.75rem);
    color: var(--color-white);
    padding: 0.400rem 0.75rem;
    background-color: var(--color-primary);
    line-height: 31px;
    font-weight: 400;
	letter-spacing: 1px;
	border: 1px solid var(--color-primary);
  }
  .frm_cst .form-file-text {
    padding-top: 5px;
  }
  
  .d_flex{
	  display: -webkit-box; 
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -webkit-flex; 
	  display: flex;
	  justify-content: space-between;
	  -webkit-box-align: center;
	  -moz-box-align: center;
	  -ms-flex-align: center;
	  -webkit-align-items: center;
	  align-items: center;
  }
  .h2_title{
	  text-align: center;
	  font-size: 22px;
	  line-height: 28px;	
	  color: var(--color-text);
	  font-weight: 400;
  }
  .sm_btn {
	  font-size: 14px;
	  padding: 6px 10px;
  }
  .md_title{
	font-size: 24px;
	line-height: 30px;
	color: var(--color-text);
	font-weight: 500;
}
.sm_title{
	font-size: 15px;
	line-height: 24px;
	color: var(--black-800);
	font-weight: 500;
}
.h6_title{
	color: var(--color-text);
    font-size: 16px;
    font-weight: 500;
    margin-top: 0;
}
.btn_ele .nav-item {
 padding: 0;
 border: none;	
}
.frm_cst textarea {
	height: auto !important;
	resize: none;
}
/* Radio custom */
.radio_cst {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  .radio_cst input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	top:0;
	left: 0;
	height: 25px;
	width: 25px;
	z-index: 9;
  }
  .radio_checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: var(--color-white100);
	border-radius: 50%;
  }
  .radio_cst input:checked ~ .radio_checkmark {
	background-color: var(--color-primary);
  }
  .radio_checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  .radio_cst input:checked ~ .radio_checkmark:after {
	display: block;
  }
  .radio_cst .radio_checkmark:after {
	top: 6px;
	left: 6px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: var(--color-white);
  }
  /* // Radio custom */
  /* Checkbox Custom */
  .checkbox_cst {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  .checkbox_cst input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 20px;
	width: auto;
	left: 0;
	z-index: 9;
  }
  .checkbox_checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 22px;
	width: 22px;
	background-color: var(--color-white100);
	border-radius: 4px;
  }
  .checkbox_cst input:checked ~ .checkbox_checkmark {
	background-color: var(--color-primary);
  }
  .checkbox_checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  .checkbox_cst input:checked ~ .checkbox_checkmark:after {
	display: block;
  }
  .checkbox_cst .checkbox_checkmark:after {
	left: 8px;
	top: 4px;
	width: 7px;
	height: 12px;
	border: solid var(--color-white);
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  /* // Checkbox Custom */
  /* Switch box */
  .cst_switch_btn {
	display: inline-block;
  }
  .cst_switch_btn .switch {
	display: inline-block;
	position: relative;
	width: 35px;
	height: 20px;
	border-radius: 20px;
	background: transparent;
	transition: background 0.28s cubic-bezier(0.4, 0, 0.2, 1);
	vertical-align: middle;
	cursor: pointer;
	border: 2px solid var(--switch-gray);
	margin: 0;
  }
  .cst_switch_btn .switch::before {
	content: '';
	position: absolute;
	top: 1px;
	left: 2px;
	width: 14px;
	height: 14px;
	background: var(--switch-gray);
	border-radius: 50%;
	transition: left 0.28s cubic-bezier(0.4, 0, 0.2, 1), background 0.28s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .switch:active::before {
	box-shadow: 0 2px 8px rgba(0,0,0,0.28), 0 0 0 20px rgba(128,128,128,0.1);
  }
  .cst_switch_btn input:checked + .switch {
	background: transparent;
	border-color: var(--color-primary);
  }
  .cst_switch_btn input:checked + .switch::before {
	left: 15px;
	background: var(--color-primary);
	top: 1px;
  }
  .inte_label {
    display: inline-block;
    margin: 0 6px;
    vertical-align: middle;
}
  /* // Switch box */
/* select2 mod  */
.select2_mod .multiselect {
	color: var(--color-text);
}
.select2_mod .multiselect__tags {
	background-color: transparent;
	border-color: #4b505a;
	min-height: 46px;
	padding: 11px 30px 12px 15px;
	color: var(--color-text);
}
.select2_mod  .multiselect__input, .multiselect__single {
	background: var(--color-secondary);
	color:  var(--color-white);
}
.select2_mod  .multiselect__select {
    height: 46px;
}
.select2_mod .multiselect__placeholder {
  margin-bottom: 0;
  padding-top: 0;
  font-size: 14px;
  color: var(--color-text);
}
.select2_mod .multiselect__input, .select2_mod .multiselect__single {
    line-height: 21px;
    margin-bottom: 0;
    padding-left: 0;
    font-size: 14px;
	vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.select2_mod .multiselect__single {
	background:transparent;
}
.select2_mod .multiselect__content-wrapper{
	background-color: var(--color-secondary);
	border-color: #4B505A;
	color: var(--color-text);
	overflow-x: hidden;
}
.select2_mod .multiselect__option--selected {
	background: #1e2022;
    color: var(--color-text);
    font-weight: 700;
}
.select2_mod .multiselect__option--highlight:after {
  content: none;
  background: var(--success-color);
  color: var(--color-text);
}
.select2_mod .multiselect__option--selected:after {
  content: none !important;
  font-weight: 400;
  font-size: 14px;
}
.select2_mod .multiselect__option {
 text-transform: capitalize;
 white-space: break-spaces;
} 
.select2_mod .multiselect__option--highlight {
	background:#1e2022 !important;
	color: var(--color-white);
}
.select2_mod .multiselect--above .multiselect__content-wrapper {
	border-color: #4B505A;
	background-color: var(--color-secondary);
}
.select2_mod .multiselect__select {
 top: -1px;	
}
/* // select2 mod  */
.alert_box .alert  {
	padding: 15px;
} 
.trash_btn {
    font-size: 14px;
    line-height: 20px;
    border-radius: 4px;
    color: var(--color-white);
    padding: 8px 20px;
    text-transform: capitalize;
    border: solid 1px var(--color-danger);
    background-color: var(--color-danger);
	letter-spacing: 0.5px;
}
.trash_btn:hover, .trash_btn:focus {
    border: solid 1px var(--danger-hover);
	background-color: var(--danger-hover);
	color: var(--color-white);
} 
.m_lr {
    margin: 0 5px;
}
.input_grup_right .cst_input {
	border-right: none;
 }
 .input_grup_left .cst_input {
	border-left: none;
 }
 .input_grup_right .input-group-text {
	border-radius: 0 4px 4px 0px !important;
 }
 .input_grup_left .input-group-text  {
   border-radius: 4px 0 0px 4px !important;
 }
 .input_grup_right .input-group-text, .input_grup_left .input-group-text  {
   background-color: var(--color-primary);
   color: var(--color-white);
   border-color: var(--color-primary);
 }