<template>
  <main class="app-content">
    <section class="dashborad">
      <b-row>
        <b-col lg="5">
          <b-card no-body class="card_panel">
            <b-card-header><h5 class="h5_title">Dashboard</h5></b-card-header>
            <b-card-body>
              <b-card-text
                >It is a long established fact that a reader will be distracted
                by the readable content of a page when looking at its layout.
                The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters, as opposed to using 'Content
                here, content here', making it look like readable English. Many
                desktop publishing packages and web page editors now use Lorem
                Ipsum as their default model text, and a search for 'lorem
                ipsum' will uncover many web sites still in their infancy.
                Various versions have evolved over the years, sometimes by
                accident, sometimes on purpose (injected humour and the
                like).
                </b-card-text>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>
    </section>
  </main>
</template>

<script>
import config from "../../../../config";
export default {
  name: "dashboard",
  data() {
    return {};
  },
  methods:{
     getDashboarData(){
       this.$store.dispatch("dashboard")
          .then((res) => { 
              if ( (typeof(res.status)!='undefined') && (res.status == true) ) {                     
              }  
          })
          .catch((e) => {  
              this.clearLocalStorage(); 
              console.log(e);
          });            

     }
  },
  created(){
    this.getDashboarData();
  }
};
</script>

<style>
</style>