<template>
   <div class="app-components">
        <component :is="addLayout">
            <router-view />
        </component>
   </div>
</template> 
<script> 
    export default {
        name : 'App', 
        data(){
            return {  
            }
        },
        created(){}, 
        computed: {
            addLayout() { 
                return ( ( typeof(this.$route.meta.layout) != 'undefined')?this.$route.meta.layout:'authLayout' );
            }
        }

    }
</script>

<style>

</style>