<template>
  <main class="app-content">
    <app-changes />
    <section class="app_setting">
      <b-row>
        <b-col lg="12">
          <b-card no-body class="card_panel">
            <b-card-header><h5 class="h5_title">App Instructions</h5></b-card-header>
            <b-card-body>
                <div class="card_body">
                  <div class="sw_accordin_heading_wrapper">
                    <h5 class="h5_title accor_heading">
                      Once you installed the App you just need to go through 3
                      simple steps to get on the App Dashboard.
                    </h5>
                    <ul>
                      <li>Welcome step to Start processing</li>                        
                      <li>Second one is Import products,categories,brands etc. from Bigcommerce store</li>
                      <li>Get ready to go on App dashboard</li>
                    </ul>
                  </div>
                  <div class="ai_accor_main_wrapper">
                    <div class="accordion" role="tablist">
                      <b-card no-body class="mb-1 fisrt_card_accor">
                        <b-card-header
                          header-tag="header"
                          class="p-1"
                          role="tab"
                        >
                          <div
                            block
                            v-b-toggle.accordion-1
                            variant="info"
                            class="ai_accor_heading"
                          >
                            <h5 class="h5_title accor_heading">
                              What can this app do for me?
                            </h5>
                          </div>
                        </b-card-header>
                        <b-collapse
                          id="accordion-1"
                          visible
                          accordion="my-accordion"
                          role="tabpanel"
                        >
                          <div class="sw_project_accordion_body float_left">
                            <p>
                              Profit Insights is a profit tracker tool/App that
                              helps you organize, Analyze & visualize all of
                              your business's Expenses, Orders generated &
                              revenue in one place to understand exactly how
                              much money your eCommerce business is making.
                            </p>
                          </div>
                        </b-collapse>
                      </b-card>
                      <b-card no-body class="mb-1">
                        <b-card-header
                          header-tag="header"
                          class="p-1"
                          role="tab"
                        >
                          <div
                            block
                            v-b-toggle.accordion-2
                            variant="info"
                            class="ai_accor_heading ai_accor_heading2"
                          >
                            <h5 class="h5_title accor_heading">
                              What data will I see?
                            </h5>
                          </div>
                        </b-card-header>
                        <b-collapse
                          id="accordion-2"
                          visible
                          accordion="my-accordion"
                          role="tabpanel"
                        >
                          <div class="sw_project_accordion_body float_left">
                            <p>
                              The Profit Insights dashboard is split into 4 main
                              sections.<br /><br /><strong
                                >Profit Analytics:</strong
                              >
                              Your business's revenue, Total cost, Net Profit,
                              Margin, Order summary + Spend detail included in
                              this section. With all this information on your
                              screen, you’ll be able to see which areas of your
                              store need optimizing in order to improve your
                              profitability. cost of goods sold (COGS), shipping
                              & handling, transaction fees, and refunds. <br />
                              <strong> Profits:</strong> lets you track your
                              business's gross and net profits at a glance and
                              monitor your store's performance over time. <br />
                              <strong> Custom Spend:</strong>Add/edit and track
                              all expenses of your business to determine profit insights. <br />
                              <strong> Transaction Fee:</strong> Set payment
                              gateway with a specific charge as required Order
                              Summary: Get complete and overall information of
                              the number of items, respective revenue, Shipping
                              charge, Total COGS transaction fees, Handling
                              fees, Net Profit, Net Margin.
                            </p>
                          </div>
                        </b-collapse>
                      </b-card>
                      <b-card no-body class="mb-1">
                        <b-card-header
                          header-tag="header"
                          class="p-1"
                          role="tab"
                        >
                          <div
                            block
                            v-b-toggle.accordion-3
                            variant="info"
                            class="ai_accor_heading ai_accor_heading2"
                          >
                            <h5 class="h5_title accor_heading">
                              Please explain non-obvious metrics with
                              definitions?
                            </h5>
                          </div>
                        </b-card-header>
                        <b-collapse
                          id="accordion-3"
                          visible
                          accordion="my-accordion"
                          role="tabpanel"
                        >
                          <div
                            class="sw_project_accordion_body sw_project_accordion_body_listing float_left"
                          >
                            <ul>
                              <li>
                                <strong>Gross sales:</strong> Gross sales is an
                                addition of all sales receipts <br />
                                (Note: discounts, returns, and allowances not
                                includes in the gross sales)
                              </li>
                              <li>
                                <strong>Revenue:</strong> Gross sales minus
                                Refund minus the discount (Gross sales - all
                                refund and discount )
                              </li>
                              <li>
                                <strong>Total Cost:</strong> COGS + Handling
                                fees +Transaction fees + Custom spend
                              </li>
                              <li>
                                <strong>Net Profit:</strong> Revenue - Total
                                cost - Taxes
                              </li>
                              <li>
                                <strong>Net Margin:</strong> Net Profit /
                                Revenue
                              </li>
                              <li>
                                <strong>Avg. Order Value:</strong> Revenu /
                                Total orders
                              </li>
                              <li>
                                <strong>Avg. Order Profit:</strong> Net Profit /
                                Total orders
                              </li>
                              <li>
                                <strong>Shipping Charge:</strong> What customers
                                paid for shipping in Shopify. Included in sales
                                and revenue.
                              </li>
                            </ul>
                          </div>
                        </b-collapse>
                      </b-card>
                      <b-card no-body class="mb-1">
                        <b-card-header
                          header-tag="header"
                          class="p-1"
                          role="tab"
                        >
                          <div
                            block
                            v-b-toggle.accordion-4
                            variant="info"
                            class="ai_accor_heading ai_accor_heading2"
                          >
                            <h5 class="h5_title accor_heading">
                              What Is the Cost Of Goods Sold?
                            </h5>
                          </div>
                        </b-card-header>
                        <b-collapse
                          id="accordion-4"
                          visible
                          accordion="my-accordion"
                          role="tabpanel"
                        >
                          <div class="sw_project_accordion_body float_left">
                            <p>
                              It’s simple, your cost of goods sold, or COGS is
                              how much it costs you to produce or acquire the
                              products you sell. This amount includes the cost
                              of the materials and labor directly used to create
                              a good or if you purchase inventory/products from
                              a third party then COGS will be how the product
                              costs you.<br /><br />

                              We have 2 ways to estimate/add COGS. <br />
                              1) Estimate COGS through the auto slider.<br />
                              2) Enter COGS manually.<br /><br />

                              1) Estimate COGS through the auto slider: You can
                              directly set COGS through the slider which will
                              apply to each and every product.<br />
                              2) Enter COGS manually: Go to Dashboard --> COGS
                              --> Product List. You'll see a list of your
                              products in-store. Simply enter the product costs
                              in the COGS column. This value will be applied to
                              all variants of the same product.<br /><br />
                            </p>
                          </div>
                        </b-collapse>
                      </b-card>
                      <b-card no-body class="mb-1">
                        <b-card-header
                          header-tag="header"
                          class="p-1"
                          role="tab"
                        >
                          <div
                            block
                            v-b-toggle.accordion-5
                            variant="info"
                            class="ai_accor_heading ai_accor_heading2"
                          >
                            <h5 class="h5_title accor_heading">
                              What is the Handling Fee?
                            </h5>
                          </div>
                        </b-card-header>
                        <b-collapse
                          id="accordion-5"
                          visible
                          accordion="my-accordion"
                          role="tabpanel"
                        >
                          <div class="sw_project_accordion_body float_left">
                            <p>
                              Handling Fee refers to the types of costs
                              associated with preparing and transporting
                              inventory. Mostly, the cost cover expenses related
                              to order fulfillment such as shipment and
                              packaging cost. Calculation: [Average number of
                              minutes worked to package an item / 60] x hourly
                              rate. For example, 15 minutes / 60 = 0.25; 0.25 x
                              $10 per hour = $2.50. Those are your handling fees
                            </p>
                          </div>
                        </b-collapse>
                      </b-card>
                      <b-card no-body class="mb-1">
                        <b-card-header
                          header-tag="header"
                          class="p-1"
                          role="tab"
                        >
                          <div
                            block
                            v-b-toggle.accordion-6
                            variant="info"
                            class="ai_accor_heading ai_accor_heading2"
                          >
                            <h5 class="h5_title accor_heading">
                              What Transaction fees?
                            </h5>
                          </div>
                        </b-card-header>
                        <b-collapse
                          id="accordion-6"
                          visible
                          accordion="my-accordion"
                          role="tabpanel"
                        >
                          <div class="sw_project_accordion_body float_left">
                            <p>
                              Transaction Fees is a type of extra charge when
                              the client needs to pay every moment it processes
                              an electronic/online payment. Transaction Fees can
                              vary among the services.<br /><br />

                              In the eCommerce business, the Payment gateway is
                              the key component to allow your customer to do
                              online payment and that gateways also charge to
                              provide us transaction services.
                            </p>
                          </div>
                        </b-collapse>
                      </b-card>
                      <b-card no-body class="mb-1">
                        <b-card-header
                          header-tag="header"
                          class="p-1"
                          role="tab"
                        >
                          <div
                            block
                            v-b-toggle.accordion-7
                            variant="info"
                            class="ai_accor_heading ai_accor_heading2"
                          >
                            <h5 class="h5_title accor_heading">
                              How to add Custom Spends?
                            </h5>
                          </div>
                        </b-card-header>
                        <b-collapse
                          id="accordion-7"
                          visible
                          accordion="my-accordion"
                          role="tabpanel"
                        >
                          <div class="sw_project_accordion_body float_left">
                            <p>
                              Custom Spends includes rents, salary, taxes, etc. You can add it in a simple way
                            </p>
                            <p>
                             Just go to Dashboard--> Custom Spend Menu--> Click on the New Spend --> Fill Details and Create
                            </p>
                          </div>
                        </b-collapse>
                      </b-card> 
                    </div>
                  </div>
                </div>
            </b-card-body>
          </b-card>
        </b-col>
      </b-row>
    </section>
  </main>
</template>

<script>
export default {

}
</script>

<style>

</style>