<template>
  <main class="app-content"> 
    <section class="profile_block">
      <div class="row">
        <div class="col-md-12">
          <div class="card card_panel">
            <div class="card-header">
              <h5 class="h5_title">Profile</h5>
            </div>
            <div class="card-body">
              <div class="rp_profile_cont_main">
                <div class="rp_profile_name_circle">
                  <p>
                    {{
                      storeData.store_name
                        ? createUserName(storeData.store_name)
                        : "G"
                    }}
                  </p>
                </div>
                <div class="rp_profile_ele">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="rp_profile_cont">
                        <label>Shop Name</label>
                        <p>
                          {{
                            storeData.store_name ? storeData.store_name : "---"
                          }}
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="rp_profile_cont">
                        <label>Store Email</label>
                        <p>
                          {{
                            storeData.store_email
                              ? storeData.store_email
                              : "---"
                          }}
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="rp_profile_cont">
                        <label>Phone</label>
                        <p>
                          {{ storeData.phone ? storeData.phone : "0000000000" }}
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="rp_profile_cont">
                        <label>Store URL</label>
                        <p>
                          {{
                            storeData.store_url ? storeData.store_url : "No URL"
                          }}
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="rp_profile_cont">
                        <label>Store Admin URL</label>
                        <p>
                          {{
                            storeData.control_panel_base_url
                              ? storeData.control_panel_base_url
                              : "No URL"
                          }}
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="rp_profile_cont">
                        <label>Address</label>
                        <p>
                          {{
                            storeData.address ? storeData.address : "No Address"
                          }}
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="rp_profile_cont">
                        <label>Country Name</label>
                        <p>
                          {{
                            storeData.country ? storeData.country : "No Country"
                          }}
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="rp_profile_cont">
                        <label>Currency</label>
                        <p>
                          {{
                            storeData.currency
                              ? storeData.currency
                              : "No Currency"
                          }}
                          {{
                            storeData.currency_symbol
                              ? "(" + storeData.currency_symbol + ")"
                              : ""
                          }}
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="rp_profile_cont">
                        <label>Subscription Plan</label>
                        <p>
                          {{
                            storeData.plan_info
                              ? storeData.plan_info.plan_name
                              : "Free Trail"
                          }}
                        </p>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="rp_profile_cont margin-rp">
                        <label>Next Billing</label>
                        <p>
                          {{
                            storeData.end_date
                              ? storeData.end_date
                              : "0000-00-00 00:00:00"
                          }}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>

<script>
import config from "../../../../config";
export default {
  name: "store-detail",
  data() {
    return {
      storeData: "",
      isLoader: "",
    };
  },
  methods: {
    createUserName(name) {
      if (name != "") {
        return name.charAt(0);
      }
      return "G";
    },
    getStoreDetail() {
      this.isLoader = true;
      this.$store
        .dispatch("profile")
        .then((res) => {
          this.isLoader = false;
          if (typeof res.status != "undefined" && res.status == true) {
            this.storeData = res.data;
          }
        })
        .catch((e) => {
          this.isLoader = false;
          console.log(e);
        });
    },
    initials(fullName) {
      try {
        let iniName = fullName.charAt(0);
        return iniName;
      } catch (e) {}
    },
  },
  mounted() {
    this.getStoreDetail();
  },
};
</script>

<style>
</style>