<template>
  <main class="app-content"> 
    <b-row>
      <b-col lg="12">
        <b-card no-body class="card_panel">
          <b-card-header
            ><h5 class="h5_title">Contact Support Form</h5></b-card-header
          >
          <b-card-body>
            <ValidationObserver v-slot="{ handleSubmit }" ref="support_form">
              <b-form
                class="frm_cst"
                @submit.prevent="handleSubmit(formSubmit)"
              >
                <b-row>  
                   <b-col lg="12">
                    <b-form-group>
                      <label class="label_mod">Contact Subject<sub>*</sub></label>
                      <ValidationProvider  name="contact subject" rules="required"  v-slot="{ errors }">
                      <b-form-input
                        v-model="formData.contact_subject"
                        name="contact_subject"
                        class="cst_input"
                        placeholder="Enter contact subject.."
                      ></b-form-input>
                      <p class="text-danger text_error" v-if="errors[0]">{{ errors[0] }}</p>
                       </ValidationProvider>
                    </b-form-group>
                  </b-col>
                   <b-col lg="12">
                    <b-form-group>
                      <label class="label_mod">Contact Message<sub>*</sub></label>
                      <ValidationProvider  name="contact message" rules="required"  v-slot="{ errors }">
                      <vue-editor name="contact_message" v-model="formData.contact_message" placeholder="Your contact query.."></vue-editor>
                      <p class="text-danger text_error" v-if="errors[0]">{{ errors[0] }}</p>
                       </ValidationProvider>
                    </b-form-group>
                  </b-col>
                  <div class="btn__cst text-center">
                    <button class="primary_btn" v-if="!isBLoader">
                      Submit Your Query
                    </button>
                    <button
                      v-if="isBLoader"
                      class="btn primary_btn loader-btn"
                      disabled
                    >
                      <div
                        class="spinner-border spinner-border-sm btn-spinner"
                        role="status"
                      ></div>
                    </button>
                  </div>
                </b-row>
              </b-form>
            </ValidationObserver>
          </b-card-body>
        </b-card>
      </b-col>
    </b-row>
  </main>
</template>

<script>
import config from "../../../../config";
import { VueEditor } from "vue2-editor";
export default {
  name: "search-input-setting",
  components : {
    'vue-editor' : VueEditor
  },
  data() {
    return {
      isLoader: false,
      isBLoader: false,
      formData: {  
        contact_subject: "",
        contact_message : "" 
      },
    };
  },
  methods: { 
    formSubmit() {
      this.isBLoader = true;
      this.$store
        .dispatch("contactSupport", this.formData)
        .then((res) => {
            this.isBLoader = false;
            if (typeof res.status != "undefined" && res.status == true) {
              this.$toastr.s(res.message, "Success");
              this.formData = { contact_subject : '',contact_message : '' };
              this.$nextTick(() => { this.$refs.support_form.reset(); }); 
            }else {
              this.$toastr.e(res.message, "Error");
            }
        })
        .catch((e) => {
           console.log(e);
           this.isBLoader = false;
        });
    },
  },
  created() {
    //this.getFormData();
  },
};
</script>

<style>
</style>