<template>
   <footer class="app_footer">
            <ul class="list-inline ftr__link">
            <li>
                <a class="action_link" href="mailto:support@hubifyapps.com">Email Us</a>
            </li>
            <li>
                <a class="action_link" href="">Privacy Policy</a>
            </li>
            <li>
                <a class="action_link" href="">Terms & Services</a>
            </li>
            <li>
                <a class="action_link" href="">FAQ</a> 
            </li> 
        </ul> 
    <p>
      © 2020 App Setup, All rights reserved
    </p>
  </footer>
</template>

<script>
export default {
    name :'footer-auth',
    data(){
        return {

        }
    }
}
</script>

<style>

</style>