<template>
   <header class="app_header">
    <b-navbar toggleable="lg" type="dark">
      <b-navbar-brand href>
        <router-link to="/dashboard">
          <b-img
             src= "app/images/icons/logo_mob.png"
            alt="App"
            class="mob_logo"
            fluid
          ></b-img>
        </router-link>
        <h1 class="app_title">App</h1>
      </b-navbar-brand>
      <div class="app_nav_right">
        <b-nav class="mob_header">
          <b-nav-item class="slice-btn" v-b-toggle.sidebar-border>
            <i class="fa fa-bars" aria-hidden="true"></i>
          </b-nav-item>
          <b-link v-b-toggle href="#mobTopheader" @click.prevent>
            <i class="fa fa-ellipsis-v mob-ellips" aria-hidden="true"></i>
          </b-link>
        </b-nav>
        <b-collapse id="mobTopheader" class="top_header">
          <li class="dropdown_cst dropdown">
            <div class="username_circle">A</div>
            <span
              class="dropdown-toggle"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-expanded="true"
            >
              App</span
            >
            <ul
              id="profile_dropdown"
              class="dropdown-menu"
              aria-labelledby="dropdownMenuButton"
            >
              <li>
                <router-link to="/profile">Profile</router-link>  
              </li>
              <li>
                <b-link href="javascript:void(0)">Logout</b-link>
              </li>
            </ul>
          </li>
        </b-collapse>
      </div>
    </b-navbar>
  </header>
</template>

<script>
export default {
    name :'header-auth',
    data(){
        return {

        }
    }
}
</script>

<style>

</style>