<template>
    <aside class="app_sidebar">
    <b-sidebar id="sidebar-border" sidebar-class="hero_sidebar">
      <div class="sidebar_logo">
        <router-link to="/dashboard">
          <b-img
            class="dark_themes_logo"
            :src="`${asset_url}app/images/icons/logo-white.png`"
            fluid
            alt="Hubifyapps"
          ></b-img>
        </router-link>
      </div> 
      <nav class="app_menu">
        <b-nav vertical class="nav_ele">
          
          <li>
            <router-link to="/dashboard">
              <i class="fa fa-th-large" aria-hidden="true"></i>
              <span class="app_menu_label">Dashboard</span>
            </router-link>
          </li>
           <li>
            <router-link to="/contact-support">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span class="app_menu_label">Contact Support</span>
            </router-link>
          </li> 
          <li>
            <router-link to="/app-instructions">
              <i class="fa fa-file-pdf-o" aria-hidden="true"></i>
              <span class="app_menu_label">App Instructions</span>
            </router-link>
          </li>
          <li> 
            <b-link href="" data-toggle="collapse" data-target="#submenu-2">
              <i class="fa fa-question-circle" aria-hidden="true"></i>
              <span class="app_menu_label">More</span>
              <i class="submenu_fa fa fa-angle-down pull-right"></i>
            </b-link>
            <ul id="submenu-2" class="collapse submenu_item">
              <li>
                <a :href="`${base_url}faq`" target="_blank">FAQ</a>
              </li>
              <li>
                <a :href="`${base_url}terms-of-services`" target="_blank">Terms Of Services</a>
              </li>
              <li>
                <a :href="`${base_url}privacy-policy`" target="_blank">Privacy Policy</a>
              </li>
            </ul>
          </li>
           
          <li>
            <router-link to="/table">
              <i class="fa fa-th-large" aria-hidden="true"></i>
              <span class="app_menu_label">Table</span>
            </router-link>
          </li>
           <li>
            <router-link to="/form">
              <i class="fa fa-th-large" aria-hidden="true"></i>
              <span class="app_menu_label">Form</span>
            </router-link>
          </li>
          <li>
            <router-link to="/profile">
              <i class="fa fa-th-large" aria-hidden="true"></i>
              <span class="app_menu_label">Profile</span>
            </router-link>
          </li>
          <li>
            <router-link to="/plans">
              <i class="fa fa-th-large" aria-hidden="true"></i>
              <span class="app_menu_label">Plans</span>
            </router-link>
          </li>
        </b-nav>
      </nav>
    </b-sidebar>
  </aside>
</template>
<script>
import config from '../../../config';
export default {
    name :'sidebar-auth',
    data(){
        return {
          asset_url : config.ASSET_URL,
          base_url : config.BASE_URL,

        }
    }
}
</script>

<style>

</style>