<template>
    <aside class="app_sidebar">
    <b-sidebar id="sidebar-border" sidebar-class="hero_sidebar">
      <div class="sidebar_logo">
        <router-link to="/dashboard">
          <b-img
            class="dark_themes_logo"
            :src="`${asset_url}app/images/icons/logo-white.png`"
            fluid
            alt="Hubifyapps"
          ></b-img>
        </router-link>
      </div>
      <b-nav vertical class="install_app">
        <div class="install_process"></div>
        <li class="current_install">
          <div class="install_circle">
            <span>1</span>
            <i class="fa fa-check" aria-hidden="true"></i>
          </div>
          <router-link to="/welcome">
            Welcome
            <span>What's Hubifyapps ?</span>
          </router-link>
        </li>
        <li>
          <div class="install_circle">
            <span>2</span>
            <i class="fa fa-check" aria-hidden="true"></i>
          </div>
          <router-link to="/subscription-plans">
            Subscription Plans
            <span></span>
          </router-link>
        </li>
        <li>
          <div class="install_circle">
            <span>3</span>
            <i class="fa fa-check" aria-hidden="true"></i>
          </div>
          <router-link to="/import">
            Import Data
            <span>Lorem Ipsum is that it has a more-or-less normal</span>
          </router-link>
        </li>
        <li>
          <div class="install_circle">
            <span>4</span>
            <i class="fa fa-check" aria-hidden="true"></i>
          </div>
          <router-link to="/getready">
            Get Ready
            <span></span>
          </router-link>
        </li>
      </b-nav>
    </b-sidebar>
  </aside>
</template>
<script>
import config from '../../../config';
export default {
    name :'sidebar-steps',
    data(){
        return {
          asset_url : config.ASSET_URL,
          base_url : config.BASE_URL,

        }
    }
}
</script>

<style>

</style>